include ./header.jade

h1 Deployment Dienst hinzufügen

form(method="POST" action="DeploymentServiceAdd?sessionId=#{sessionId}")
	.field
		select(name="serviceId")
			each service in data.services
				option(value=service._id) #{service.name}
		select(name="servers" multiple)
			each server in data.servers
				option(value=server._id) #{server.ip}
		input(type="hidden" name="deploymentId" value=data.deployment._id)
		.button
			input.innerButton(type="submit" value="Hinzufügen")