include ./header.jade

h1 Deployment #{data.deployment.name}

if status == "success.add"
	p.success Deployment erfolgreich erstellt
else if status == "success.configurationDelete"
	p.success Konfiguration erfolgreich gelöscht
else if status == 'success.install'
	p.success Deployment wurde erfolgreich auf Servern installiert
else if status == 'success.uninstall'
	p.success Deployment wurde erfolgreich von Servern deinstalliert
else if status == 'success.start'
	p.success Deployment wurde erfolgreich gestartet
else if status == 'success.end'
	p.success Deployment wurde erfolgreich gestoppt

if data.message
	p !{data.message.replace(/\n/g, '<br>')}

.button
	a.innerButton(href="/DeploymentInstall?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}") Installieren
	a.innerButton(href="/DeploymentUninstall?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}") Deinstallieren
	a.innerButton(href="/DeploymentStart?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}") Starten
	a.innerButton(href="/DeploymentStop?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}") Stoppen

table
	thead
		tr
			th Name
			th Beschreibung
			th Dienste
			th(colspan="2") Aktionen
	tbody
		tr
			td #{data.deployment.name}
			td #{data.deployment.description}

h2 Konfiguration

.button
	a.innerButton(href="/ConfigurationAdd?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}") Konfiguration hinzufügen

table
	thead
		tr
			th Anzahl Felder
			th Aktionen
	tbody
		each config in data.deployment.configurations
			tr
				td #{config.fields.length} Felder
				td
					.button
						a.innerButton(href="/ConfigurationFieldList?sessionId=#{sessionId}&configurationId=#{config._id}") Übersicht

h2 Dienste

.button
	a.innerButton(href="/DeploymentServiceAdd?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}") Dienst hinzufügen

table
	thead
		tr
			th Name
			th(colspan="1") Server
			th(colspan="2") Aktionen
	tbody
		each service in data.deployment.services
			tr
				td #{service.service.name}
				td
					table
						tbody
							each server in service.servers
								tr
									td #{server.server.ip}
									td
										.button
											a.innerButton(href="/DeploymentServiceStart?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}&serviceId=#{service.service._id}&serverId=#{server._id}") Start
									td
										.button
											a.innerButton(href="/DeploymentServiceStop?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}&serviceId=#{service.service._id}&serverId=#{server._id}") Stop
									if server.installed
										td
											.button
												a.innerButton(href="/DeploymentServiceUninstall?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}&serviceId=#{service.service._id}&serverId=#{server._id}") Deinstallieren
									else
										td
											.button
												a.innerButton(href="/DeploymentServiceInstall?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}&serviceId=#{service.service._id}&serverId=#{server._id}") Installieren
				td
					.button
						a.innerButton(href="/DeploymentServiceEdit?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}&serviceId=#{service.service._id}") Bearbeiten	
				td
					.button
						a.innerButton(href="/DeploymentServiceDelete?sessionId=#{sessionId}&deploymentId=#{data.deployment._id}&serviceId=#{service.service._id}") Löschen