include ./header.jade

h1 Alle Projekte (#{data.projects.length})

div.button
	a(href="/ProjectAdd?sessionId=#{sessionId}") Projekt erstellen

if status == 'success.delete'
	p.success Das Projekt wurde erfolgreich gelöscht.

table
	thead
		tr
			th Name
			th Unternehmen
			th(colspan="2") Aktionen
	tbody
		each project in data.projects
			tr
				td #{project.name}
				td
					each company in project.companies
						p(style="margin-top: 0; margin-bottom: 0") #{company.name}
				td
					a(href="/ProjectEdit?sessionId=#{sessionId}&projectId=#{project._id}") Bearbeiten
				td
					a(href="/ProjectDelete?sessionId=#{sessionId}&projectId=#{project._id}") Löschen