include ./header.jade

h1 Service #{data.service.name}

h2 Konfiguration

.button
	a.innerButton(href="/ConfigurationAdd?sessionId=#{sessionId}&serviceId=#{data.service._id}") Konfiguration hinzufügen
table
	thead
		tr
			th Anzahl Felder
			th Aktionen
	tbody
		each config in data.service.configurations
			tr
				td #{config.fields.length} Felder
				td
					.button
						a.innerButton(href="/ConfigurationFieldList?sessionId=#{sessionId}&configurationId=#{config._id}") Übersicht

h2 Dateien

.button
	a.innerButton(href="/ServiceFileAdd?sessionId=#{sessionId}&serviceId=#{data.service._id}") Datei hinzufügen

table
	thead
		tr
			th Name
			th Inhalt
			th(colspan="2") Aktionen
	tbody
		each file in data.service.files
			td #{file.name}
			td #{file.content}
			td
				.button
					a.innerButton(href="/ServiceFileEdit?sessionId=#{sessionId}&name=#{file.name}&serviceId=#{data.service._id}") Bearbeiten
			td
				.button
					a.innerButton(href="/ServiceFileDelete?sessionId=#{sessionId}&name=#{file.name}&serviceId=#{data.service._id}") Löschen

h2 Skripte
.button
	a.innerButton(href="/ServiceScriptAdd?sessionId=#{sessionId}&serviceId=#{data.service._id}") Skript hinzufügen
table
	thead
		tr
			th Typ
			th Befehle
			th(colspan="2") Aktionen
	tbody
		each script in data.service.scripts
			tr
				td #{script.type}
				td
					each command in script.commands
						p #{command}
				td
					.button
						a.innerButton(href="/ServiceScriptEdit?sessionId=#{sessionId}&scriptId=#{script._id}") Bearbeiten
				td
					.button
						a.innerButton(href="/ServiceScriptDelete?sessionId=#{sessionId}&scriptId=#{script._id}") Löschen
