include ./header.jade

h1 Skript erstellen

.button
	a.innerButton(href="/ServiceView?sessionId=#{sessionId}&serviceId=#{data.service._id}") < Dienst #{data.service.name}

form(method="POST" action="/ServiceScriptAdd?sessionId=#{sessionId}")
	.field
		label Typ
		select(name="type")
			option(value="install") Installieren
			option(value="uninstall") Deinstallieren
			option(value="start") Starten
			option(value="stop") Stoppen
			option(value="Setup") Setup
	.field
		label Befehle
		textarea(name="commands")
	input(type="hidden" name="serviceId" value="#{data.service._id}")
	.button
		input.innerButton(type="submit" value="Erstellen")